In [1]:
import pandas as pd
import os

# Directory containing the forecast files
forecasts_dir = '/home/zeal/Documents/6th sem/inv. mangmnt sy/chuimui/forecasts'

# List to store all forecast data
forecasts = []

# Read each file in the forecasts directory
for filename in os.listdir(forecasts_dir):
    if filename.endswith('.csv'):
        file_path = os.path.join(forecasts_dir, filename)
        df = pd.read_csv(file_path)
        forecasts.append(df)

# Concatenate all forecast data into a single DataFrame
forecast_data = pd.concat(forecasts, ignore_index=True)

In [2]:
forecast_data.columns

Index(['ds', 'yhat', 'yhat_lower', 'yhat_upper', 'Product', 'Warehouse'], dtype='object')

In [3]:
# Current stock levels data
current_stock = pd.read_csv("/home/zeal/Documents/6th sem/inv. mangmnt sy/chuimui/grouped.csv")
current_stock

                        Destination                    Category  Quantity
0             Amazon FC - Ahmedabad                       BOOKS         3
1             Amazon FC - Ahmedabad             HOME APPLIANCES        50
2              Amazon FC - Amritsar                PET SUPPLIES        32
3           Amazon FC - Bhubaneswar             LAWN AND GARDEN       216
4            Amazon FC - Chandigarh                     PRODUCE        35
..                              ...                         ...       ...
112    Xpressbees Warehouse - Kochi                     POULTRY        28
113    Xpressbees Warehouse - Kochi  SCHOOL AND OFFICE SUPPLIES        63
114  Xpressbees Warehouse - Kolkata                 CELEBRATION        39
115     Xpressbees Warehouse - Kota                  GROCERY II         8
116     Xpressbees Warehouse - Kota          HOME AND KITCHEN I       132

[117 rows x 3 columns]

In [4]:
current_stock.rename(columns={'Destination': 'Warehouse'}, inplace=True)
current_stock.columns

Index(['Warehouse', 'Category', 'Quantity'], dtype='object')

In [5]:
current_stock.rename(columns={'Category': 'Product'}, inplace=True)

In [6]:
# Group the forecast data by Product and Warehouse and sum the yhat values
forecast_summary = forecast_data.groupby(['Product', 'Warehouse'])['yhat'].sum().reset_index()

# Merge the forecast summary with the current stock data
merged_data = pd.merge(forecast_summary, current_stock, on=['Product', 'Warehouse'], how='left')

# Fill missing values in CurrentStock with 0
merged_data['Quantity'].fillna(0, inplace=True)

/tmp/ipykernel_116191/367806231.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_data['Quantity'].fillna(0, inplace=True)

In [7]:
# Calculate the quantity to be restocked or removed
merged_data['QuantityToAdjust'] = merged_data['yhat'] - merged_data['Quantity']

# Define thresholds for labeling
excess_threshold = 1.2  # 20% excess
shortage_threshold = 0.8  # 20% shortage

# Label the stock levels
merged_data['Label'] = merged_data.apply(
    lambda row: 'Excess' if row['Quantity'] > row['yhat'] * excess_threshold else
                'Shortage' if row['Quantity'] < row['yhat'] * shortage_threshold else
                'Good to Go', axis=1
)

# Add a column to display the thresholds
merged_data['Thresholds'] = merged_data.apply(
    lambda row: f"Excess: {row['yhat'] * excess_threshold:.2f}, Shortage: {row['yhat'] * shortage_threshold:.2f}", axis=1
)


# Display the results
print("\nFinal Results:")
print(merged_data[['Product', 'Warehouse', 'yhat', 'QuantityToAdjust', 'Thresholds', 'Label']])

Final Results:
                           Product                          Warehouse  \
0                AUTOMOTIVE_A-0423              Ecom Express - Mysuru
1                AUTOMOTIVE_B-6128           Blue Dart Hub - Siliguri
2                AUTOMOTIVE_C-0288               Flipkart FC - Ranchi
3                 BABY CARE_B-6155  Ecom Express - Thiruvananthapuram
4                    BEAUTY_E-0838      Delhivery Warehouse - Jodhpur
5                 BEVERAGES_C-0327      Delhivery Warehouse - Belgaum
6                     BOOKS_B-6298       Delhivery Warehouse - Nagpur
7                     BOOKS_X-7078             Amazon FC - Coimbatore
8                GROCERY II_E-0088               DTDC Hub - Mangalore
9                 GROCERY I_M-0361                Flipkart FC - Salem
10                 HARDWARE_Y-002L                   DTDC Hub - Patna
11       HOME AND KITCHEN I_C-0121                Amazon FC - Udaipur
12       HOME AND KITCHEN I_S-0359              Ecom Express - Mysuru
13                HOME CARE_E-1116             Blue Dart Hub - Mumbai
14                HOME CARE_F-1AGL              Flipkart FC - Nellore
15               LADIESWEAR_E-0767             Amazon FC - Vijayawada
16          LAWN AND GARDEN_M-0835            Amazon FC - Bhubaneswar
17                 LINGERIE_E-1515             Amazon FC - Vijayawada
18            PERSONAL CARE_Y-001L                   DTDC Hub - Patna
19             PET SUPPLIES_E-1251               Amazon FC - Amritsar
20             PET SUPPLIES_Y-004L               DTDC Hub - Bhavnagar
21  PLAYERS AND ELECTRONICS_C-0335               DTDC Hub - Mangalore
22           PREPARED FOODS_C-0465                Amazon FC - Gwalior
23                  PRODUCE_C-0438             Amazon FC - Chandigarh
24                  PRODUCE_C-0438               Flipkart FC - Jaipur
25                  SEAFOOD_C-0518                    DTDC Hub - Pune

             yhat  QuantityToAdjust                              Thresholds  \
0    17953.747343      17953.747343    Excess: 21544.50, Shortage: 14363.00
1    46101.981415      46101.981415    Excess: 55322.38, Shortage: 36881.59
2    85131.762877      85131.762877   Excess: 102158.12, Shortage: 68105.41
3     8418.143099       8418.143099     Excess: 10101.77, Shortage: 6734.51
4   161785.933761     161785.933761  Excess: 194143.12, Shortage: 129428.75
5    -7019.810053      -7019.810053    Excess: -8423.77, Shortage: -5615.85
6   -20628.984394     -20628.984394  Excess: -24754.78, Shortage: -16503.19
7    -3843.003057      -3843.003057    Excess: -4611.60, Shortage: -3074.40
8     7276.407320       7276.407320      Excess: 8731.69, Shortage: 5821.13
9    11029.160941      11029.160941     Excess: 13234.99, Shortage: 8823.33
10   -1856.111251      -1856.111251    Excess: -2227.33, Shortage: -1484.89
11  -15151.245177     -15151.245177  Excess: -18181.49, Shortage: -12121.00
12   64571.862365      64571.862365    Excess: 77486.23, Shortage: 51657.49
13   12507.413378      12507.413378    Excess: 15008.90, Shortage: 10005.93
14   29325.323163      29325.323163    Excess: 35190.39, Shortage: 23460.26
15   -8041.366881      -8041.366881    Excess: -9649.64, Shortage: -6433.09
16    3853.263570       3853.263570      Excess: 4623.92, Shortage: 3082.61
17   -4046.119308      -4046.119308    Excess: -4855.34, Shortage: -3236.90
18    7413.463256       7413.463256      Excess: 8896.16, Shortage: 5930.77
19   -4669.002537      -4669.002537    Excess: -5602.80, Shortage: -3735.20
20    6397.996922       6397.996922      Excess: 7677.60, Shortage: 5118.40
21  -33665.129259     -33665.129259  Excess: -40398.16, Shortage: -26932.10
22   16359.168485      16359.168485    Excess: 19631.00, Shortage: 13087.33
23    1426.147450       1426.147450      Excess: 1711.38, Shortage: 1140.92
24    9703.957672       9703.957672     Excess: 11644.75, Shortage: 7763.17
25    4647.991503       4647.991503      Excess: 5577.59, Shortage: 3718.39

       Label
0   Shortage
1   Shortage
2   Shortage
3   Shortage
4   Shortage
5     Excess
6     Excess
7     Excess
8   Shortage
9   Shortage
10    Excess
11    Excess
12  Shortage
13  Shortage
14  Shortage
15    Excess
16  Shortage
17    Excess
18  Shortage
19    Excess
20  Shortage
21    Excess
22  Shortage
23  Shortage
24  Shortage
25  Shortage

In [8]:
insights = merged_data
del merged_data

In [10]:
insights.head()

,Product,Warehouse,yhat,Quantity,QuantityToAdjust,Label,Thresholds
0,AUTOMOTIVE_A-0423,Ecom Express - Mysuru,17953.747343,0.0,17953.747343,Shortage,"Excess: 21544.50, Shortage: 14363.00"
1,AUTOMOTIVE_B-6128,Blue Dart Hub - Siliguri,46101.981415,0.0,46101.981415,Shortage,"Excess: 55322.38, Shortage: 36881.59"
2,AUTOMOTIVE_C-0288,Flipkart FC - Ranchi,85131.762877,0.0,85131.762877,Shortage,"Excess: 102158.12, Shortage: 68105.41"
3,BABY CARE_B-6155,Ecom Express - Thiruvananthapuram,8418.143099,0.0,8418.143099,Shortage,"Excess: 10101.77, Shortage: 6734.51"
4,BEAUTY_E-0838,Delhivery Warehouse - Jodhpur,161785.933761,0.0,161785.933761,Shortage,"Excess: 194143.12, Shortage: 129428.75"

In [12]:
# Drop the QuantityToAdjust column
insights.drop(columns=['Quantity'], inplace=True, errors='ignore')

In [ ]:
insights = insights.merge(curre
nt_stock[['Product', 'Quantity']], on='Product', how='left')

In [15]:
insights.head()

,Product,Warehouse,yhat,QuantityToAdjust,Label,Thresholds,Quantity
0,AUTOMOTIVE_A-0423,Ecom Express - Mysuru,17953.747343,17953.747343,Shortage,"Excess: 21544.50, Shortage: 14363.00",NaN
1,AUTOMOTIVE_B-6128,Blue Dart Hub - Siliguri,46101.981415,46101.981415,Shortage,"Excess: 55322.38, Shortage: 36881.59",NaN
2,AUTOMOTIVE_C-0288,Flipkart FC - Ranchi,85131.762877,85131.762877,Shortage,"Excess: 102158.12, Shortage: 68105.41",NaN
3,BABY CARE_B-6155,Ecom Express - Thiruvananthapuram,8418.143099,8418.143099,Shortage,"Excess: 10101.77, Shortage: 6734.51",NaN
4,BEAUTY_E-0838,Delhivery Warehouse - Jodhpur,161785.933761,161785.933761,Shortage,"Excess: 194143.12, Shortage: 129428.75",NaN